.feature-card-multi-card {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  max-width: 285px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.feature-card-multi-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card-multi-text {
  color: var(--dl-color-grays-white100);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card-multi-text1 {
  color: var(--dl-color-grays-white100);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card-multi-text2 {
  color: var(--dl-color-grays-white100);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card-multi-text3 {
  color: var(--dl-color-grays-white100);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card-multi-text4 {
  color: var(--dl-color-backgrounds-lightgreen);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  line-height: 1.75;
}
.feature-card-multi-text4:hover {
  text-decoration: underline;
}
.feature-card-multi-root-class-name {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
@media(max-width: 991px) {
  .feature-card-multi-root-class-name {
    flex: 1;
    width: 25%;
    max-width: 285px;
  }
}
@media(max-width: 767px) {
  .feature-card-multi-card {
    width: 50%;
  }
  .feature-card-multi-root-class-name {
    flex: 1;
    width: 0px;
    max-width: 285px;
    min-width: 30%;
  }
}
@media(max-width: 479px) {
  .feature-card-multi-card {
    width: 100%;
  }
  .feature-card-multi-root-class-name {
    flex: 1;
    width: 0px;
    min-width: 30%;
  }
}
