<div>
  <link href="./feature-card-multi.css" rel="stylesheet" />
  <div class="feature-card-multi-card">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="feature-card-multi-image"
    />
    <h4 class="feature-card-multi-text heading4"><span>Titlu</span></h4>
    <span class="feature-card-multi-text1 content-Light">
      <span>Descriere</span>
    </span>
    <span class="feature-card-multi-text2 content-Light">
      <span>Descriere</span>
    </span>
    <span class="feature-card-multi-text3 content-Light">
      <span>Descriere</span>
    </span>
    <span class="feature-card-multi-text4"><span></span></span>
  </div>
</div>
